<!DOCTYPE html>
<html lang="pt-br">
	<head th:replace="~{base :: head}">
		<meta charset="UTF-8">
		<title>Blog</title>
	</head>
	<body>
		<nav th:replace="~{base :: navbusca}"></nav>
		<nav th:replace="~{base :: navlinks}"></nav>
		
		<main class="d-flex align-content-center mt-5">
		
			<section class="card container col-md-6 offset-md-3 mb-3">
				<form th:action="@{/novo/curso}" method="post">
					<div class="card-body">
						<div class="form-group">
							<label class="form-label">Nome do curso</label>
							<input class="form-control" name="nome">
						</div>
						<div class="form-group">
							<label class="form-label">Link do curso</label>
							<input class="form-control" name="link"></input>
						</div>
						
						<div class="row">
							<input class="btn btn-primary btn-lg col-6 mt-3" type="submit" value="Salvar">
						</div>
					</div>
				</form>
			</section>
		</main>
	</body>
</html>